casadi==3.5.5
chaospy==4.3.13
cycler==0.11.0
Cython==0.29.35
fonttools==4.40.0
future-fstrings==1.2.0
imageio==2.25.1
importlib-metadata==6.7.0
kiwisolver==1.4.4
matplotlib==3.5.3
matplotlib-inline==0.1.6
numpoly==1.2.8
numpy==1.24.2
packaging==23.1
pandas==1.5.3
Pillow==9.5.0
pyparsing==3.1.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQt6==6.5.1
PyQt6-Qt6==6.5.1
PyQt6-sip==13.5.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
scipy==1.11.1
six==1.16.0
traitlets==5.9.0
zipp==3.15.0